
ul {
  list-style: none;
}
footer{
  text-align:center;
  color:#ffffff;
  font-size:12px;
  padding:20px 0;
}
.example {/*親div*/
  position: relative;/*相対配置*/
  margin:0px;
  padding:0px;
  }
.example p {
  position: absolute;/*絶対配置*/
  color: #000000;/*文字は白に*/
  font-size: 5vw;
  right: 0; bottom: 0;
  font-weight: 600;
  }
  .top-banner{
    display: flex;
    flex-wrap:wrap;
    margin:0;
    padding:0;
    overflow: hidden;
    height: 70px;
  }
  p span{
    display        : inline-block;
    color          : #ce5854;            /* 文字の色 */
    font-size      : 7vw;               /* 文字のサイズ */
    letter-spacing : 4px;                /* 文字間 */
    text-shadow    : 
         2px  2px 1px #524747,
        -2px  2px 1px #524747,
         2px -2px 1px #524747,
        -2px -2px 1px #524747,
         2px  0px 1px #524747,
         0px  2px 1px #524747,
        -2px  0px 1px #524747,
         0px -2px 1px #524747;        /* 文字の影 */
  }
.example img {
  width: 100%;
  }
  .firstStr {
    display      : inline-block;
    width        : 200px;              /* 枠のサイズ   */
    background   : #ffffff;            /* 背景色       */
    border       : 1px solid #999;     /* 枠線         */
    font-size    : 12pt;               /* 文字のサイズ */
    text-align   : left;               /* 文字位置     */
    padding      : 5px;                /* 枠の余白     */
    line-height  : 1.2;                /* 1行の高さ    */
  }
   /*--- 先頭文字の定義 ------------------------------ */
  .firstStr:first-letter {
    font-size    : 3em;                /* 文字サイズ   */
    padding      : 0px 4px 0px 0px;    /* 余白         */
    color        : rgba(255, 0, 0, 0.73);            /* 文字の色     */
  }

 
 