
body{
	background-color:rgb(30,36,47);
}

.back{
	background-color:#ffffff;
}

font1{
    font-family: sans-serif;
    font-size: 20px;
  	color:#ffffff;
}

hr1{
	border: none;
	border-top: solid 1px red;
	border-bottom: solid 1px red;
}



.button {
  display       : inline-block;
  font-size     : 18pt;        /* �����T�C�Y */
  text-align    : center;      /* �����ʒu   */
  cursor        : pointer;     /* �J�[�\��   */
  padding       : 12px 33px;   /* �]��       */
  background    : #1a1aff;     /* �w�i�F     */
  color         : #ffffff;     /* �����F     */
  line-height   : 1em;         /* 1�s�̍���  */
  transition    : .3s;         /* �Ȃ߂炩�ω� */
  border        : 2px solid #1a1aff;    /* �g�̎w�� */
}
.button:hover {
  color         : #007fff;     /* �w�i�F     */
  background    : #ffffff;     /* �����F     */
}


label {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 36px;
  border: 2px solid #ccc;
  border-radius: 15px;
}
input[type="date"] {
  position: relative;
  padding: 0 10px;
  width: 200px;
  height: 36px;
  border: 0;
  background: #ffffff;
  box-sizing: border-box;
  font-size: 20px;
  color: #000000;
}
label::before {
  position: absolute;
  content: "";
  top: 0;
  right: -43px;
  width: 36px;
  height: 36px;
  background-color: #06c;
  background-image: url("icon_calendar.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}


