
body{
	background-color:rgb(30,36,47);
}

.back{
	background-color:#ffffff;
}

font1{
    font-family: sans-serif;
    font-size: 20px;
  	color:#ffffff;
}

hr1{
	border: none;
	border-top: solid 1px red;
	border-bottom: solid 1px red;
}



.button {
  display       : inline-block;
  font-size     : 18pt;       
  text-align    : center;      
  cursor        : pointer;    
  padding       : 12px 33px;   
  background    : #1a1aff;    
  color         : #ffffff;    
  line-height   : 1em;         
  transition    : .3s;       
  border        : 2px solid #1a1aff;  
}
.button:hover {
  color         : #007fff;    
  background    : #ffffff;    
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.cp_ipselect {
 overflow: hidden;
 width: 40%;
 margin: 2em auto;
 text-align: center;
}
.cp_ipselect select {
 width: 50%;
 padding-right: 1em;
 cursor: pointer;
 text-indent: 0.01px;
 text-overflow: ellipsis;
 border: none;
 outline: none;
 background: transparent;
 background-image: none;
 box-shadow: none;
 -webkit-appearance: none;
 appearance: none;

}
.cp_ipselect select::-ms-expand {
   display: none;
}
.cp_ipselect.cp_sl04 {
 position: relative;
 border-radius: 2px;
 border: 2px solid #da3c41;
 border-radius: 50px;
 background: transparent;

}

.cp_ipselect.cp_sl04 select {
 padding: 8px 38px 8px 8px;
 color: #da3c41;
 
}

h3{
  color:#ffffff;
  font-size:20px;
}