ul{
    list-style: none;
}
li {
    position: relative;
    padding: 20px 0px 50px 2.5em;
    color: #ffffff;
    font-size: 30px;
}
li:before,
li:after {
    position: absolute;
    left: 0px;
    width: 0px;
    height: 0px;
    content: "";
}
li:before {
    top: -1.25em;
    border: 1em solid transparent;
    border-bottom: 1.5em solid currentColor;
}
li:after {
    top: 0.25em;
    border: 0.5em solid transparent;
    border-left: 1em solid currentColor;
    border-right: 1em solid currentColor;
}
li:nth-of-type(1) {
    color: #dbb400;
}
li:nth-of-type(2) {
    color: #9fa0a0;
}
li:nth-of-type(3) {
    color: #c47022;
}
li:nth-of-type(4) {
    color: #ffffff;
}
li:nth-of-type(5) {
    color: #ffffff;
}

 

  
  