body{
	background-color:rgb(30,36,47);
}
h1,h2,h3,h4{
 color:#ffffff;
}
h3{
    color:#ffffff;
    font-size:20px;
}






Button{
display       : inline-block;
border-radius : 5%;          /* 角丸       */
font-size     : 18pt;        /* 文字サイズ */
text-align    : center;      /* 文字位置   */
cursor        : pointer;     /* カーソル   */
padding       : 12px 12px;   /* 余白       */
background    : rgba(26, 26, 255, 0.80);     /* 背景色     */
color         : #ffffff;     /* 文字色     */
line-height   : 1em;         /* 1行の高さ  */
transition    : .3s;         /* なめらか変化 */

border        : 2px solid rgba(26, 26, 255, 0.80);    /* 枠の指定 */
}
Button:hover {
box-shadow    : none;        /* カーソル時の影消去 */
color         : rgba(26, 26, 255, 0.80);     /* 背景色     */
background    : #ffffff;     /* 文字色     */
}



 select {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
 }
 .cp_ipselect {
	overflow: hidden;
	width: 40%;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 70%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
  appearance: none;

}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl04 {
	position: relative;
	border-radius: 2px;
	border: 2px solid #da3c41;
  border-radius: 50px;
  background: transparent;
 
}

.cp_ipselect.cp_sl04 select {
	padding: 8px 38px 8px 8px;
  color: #da3c41;
  
}

.kokuban-s2 {
  position: relative;
  margin: 2em auto;
  padding: 1em;
  width: 90%; /* ボックス幅 */
  background: #006633; /* ボックス背景色 */
  color: #fff; /* 文章色 */
  border: 8px solid #b2771f; /* 枠線 */
  border-radius: 3px; /* 角の丸み */
  box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
  }
  .kokuban-s2::before,
  .kokuban-s2::after {
  position: absolute;
  content: ”;
  bottom: 0;
  }
  .kokuban-s2::before {
  width: 20px;
  right: 10px;
  border: solid 3px #ffff00; /*チョーク（黄色）*/
  border-radius: 3px 2px 0 2px;
  }
  .kokuban-s2::after {
  width: 15px;
  right: 45px;
  border: solid 3px #fff; /*チョーク（白） */
  border-radius: 8px 5px 2px 5px;
  }


  ul.sample1{
    counter-reset:list;
    list-style-type:none;
    font: 14px/1.6 'arial narrow', sans-serif;
    padding:0;
  }
  ul.sample1 li{
    position:relative;
    color: #ffffff;
    padding: 0 0 0 23px;
    margin: 7px 0px;
    line-height: 30px;
    border-bottom: dashed 1px #ccc;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    font-size:20px;
  }
  ul.sample1 li:before{
    counter-increment: list;
    content: counter(list) ".";
    display: block;
    position: absolute;
    left: 0px;
    font-weight: bold;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  ul.sample1 li:hover,
  ul.sample1 li:hover:before{
    font-size: 25px;
    color: #FFA79F;
  }

  ul {
    list-style: none;
  }

  .box5 {
    padding: 1em 2em;
    margin: 3em 0;
    border: double 5px #4ec4d3;
}
.box5 p {
    margin: 0; 
    padding: 0;
}

*{
  margin:0px;
  padding:0px;
}

header{
  background-color:#ffffff;
  position: relative; top: 0; 
  height:50px;
  margin:0px;
  padding:0px;
}